body {
  margin: 0px;
  padding: 0px;
}
/* HEADER */
header {
  position: fixed;
  width: 100%;
  display: inline-block;
  height: 48px;
  top: 0px;
  left: 0px;
  padding: 5px 5px 5px 0px;
  background-image: linear-gradient(#FAFAFA, #EAEAEA);
  border-bottom: 1px solid #CACACA;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#header-left {
  float: left;
  width: 30%;
  height: inherit;
  transition: 200ms ease-in-out;
}
#header-left:hover {
  opacity: .5;
}
#header-right {
  margin-left: 30%;
  width: 70%;
  height: inherit;
  line-height: 48px;
  text-align: center;
}
#logo {
  text-align: center;
  width: 30%;
  float: left;
}
#title-wrapper {
  margin-left: 30%;
  padding-left: 25px;
  font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
  color: #000;
}
header h1 {
  font-size: 1.2em;
  margin-top: 0px;
  margin-bottom: 0px;  
}
header h2 {
  font-size: 1em;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}
#search {
  border-right: 1px solid #DDD;
  border-width: 1px;
  border-style: solid;
  border-color: #CDCDCD #DDD #DDD;
  border-image: none;
  box-shadow: 0px 1px 1px #E0E0E0 inset;
  width: 85%;
  border-radius: 5px;
  padding: 4px 5px 4px 15px;
  font-size: 16px;
  color: black;
}
/* PAGE */
#page {
  width: 100%;
  display: inline-block;
  top: 0px;
  margin-left: 0px;
  padding: 5px;
  margin-top: 53px;
}
/* SIDEBAR */
#sidebar {
  position: fixed;
  float: left;
  width: 30%;
  height: 100%;
  background-color: #F7F7F7;
  border-top: 1px solid #CACACA;
  border-right: 1px solid #CACACA;
  left: 0;
}
nav {
  overflow: hidden; 
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  left: 50%;
  float: left;
  position: relative;
}  
nav li {
  float: left;
  position: relative;
  text-align: center;
  padding: 3px;
  margin: 15px 10px 10px 10px;
  width: 75px;
  right: 50%;
  background: #555;
  border-radius: 6px;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 16px;
  font-family: Trebuchet MS,Helvetica,Arial,sans-serif;
  transition: 200ms ease-in-out;
}
nav li:hover {
  background: #222;
}
nav li:active {
  background: #AAA;
}
#sidebar section {
  clear: both;
  padding: 20px;
}
/* CONTENT */
#content {
  margin-left: 30%;
}

#wrapper {
  /* masque les débordements et englobe le menu */
  overflow: hidden;   
}
#menu,#menu li {
  /* on supprime les éventuels styles par défaut */
  margin: 0;
  padding: 0;
  list-style: none;
  
  /* float permet à l'élément de prendre la largeur de son contenu */

}
#menu {
  /* on décale le menu vers la droite de la moitié de la largeur disponible */
  left: 50%;
}
#menu li {
  /* on décale chaque item vers la gauche de la moitié de la largeur du menu */
  right: 50%;
}