<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="author" content="Etienne Girault"/>
    <title>DLMP3</title>
    <link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" width="48">
  </head>
  <body>
    <header>
    <!-- En-tête -->
      <a href="/">
        <div id="header-left">
          <div id="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}"/>
          </div>
          <div id="title-wrapper">
            <h1>DLMP3</h1>
            {% block title %}{% endblock %}
          </div>
        </div>
      </a>
      <div id="header-right">
        {% block head %}{% endblock %}
      </div>
    </header>
    <div id="page">
      <div id="sidebar">
        <nav>
        <!-- Barre de navigation -->
          <ul>
            <a href="/list">
              <li>DL</li>
            </a>
            <a href="/top">
              <li>Top</li>
            </a>
            <a href="/conf">
              <li>Config</li>
            </a>
          </ul>
        </nav>
        <section>
          Je suis la sidebar
          {% block sidebar %}{% endblock %}
        </section>
      </div>
      <section id="content">
        {% for message in get_flashed_messages() %}
          <div class=flash>{{ message }}</div>
        {% endfor %}
        {% block body %}{% endblock %}
      </section>
    </div>
  </body>
</html>