<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="author" content="Etienne Girault"/>
    <title>DLMP3</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" width="48">
  </head>
  <body>
    <header>
      <div id="header-nav">
        <a id="title-wrapper" href="/">
          <div id="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}"/>
          </div>
          <div id="title">
            <h1>DLMP3</h1>
            <!-- {% block title %}{% endblock %} -->
          </div>
        </a>
        <nav>
          <ul>
            <li>
              <a href="/">DL</a>
            </li>
            <li>
              <a href="top">Top</a>
            </li>
            <li>
              <a href="config">Config</a>
            </li>
          </ul>
        </nav>
      </div>
      <div id="header-search">
        {% block head %}{% endblock %}
      </div>
    </header>
    <div id="page">
      <aside id="sidebar">
          Je suis la sidebar
          {% block sidebar %}{% endblock %}
      </aside>
      <section id="content">
        {% for message in get_flashed_messages() %}
          <div class=flash>{{ message }}</div>
        {% endfor %}
        {% block body %}{% endblock %}
      </section>
    </div>
  </body>
</html>